@model IEnumerable<GetEmployeeVM>
<h1>Employees</h1>
<br />
<a asp-action="NewEmployee" asp-controller="Employee" class="btn btn-danger">Add Employee</a>
<br />
<table class="table table-hover mt-3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Title Of Courtesy</th>
            <th>Reports To</th>
            <th>BirthDate</th>
            <th>Hire Date</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(c => c.Name))
        {
        <tr>
            <td>@item.Name <br /><a asp-action="EditEmployee" asp-controller="Employee" asp-route-id="@item.EmployeeID">Edit</a> | <a asp-action="DeleteEmployee" asp-controller="Employee" asp-route-id="@item.EmployeeID">Delete</a></td>
            <td>@item.Title</td>
            <td>@item.TitleOfCourtesy</td>
            <td>@item.ReportsTo</td>
            <td>@item.BirthDate</td>
            <td>@item.HireDate</td>
            <td>@item.Address</td>
            <td>@item.Phone</td>
            <td>@item.Notes</td>

        </tr>
        }
    </tbody>
</table>
